
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

main {
    margin-top: 100px;
}

@media (max-width: 1200px) {
	html {
		font-size: 15px;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 576px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 501px) {
	html {
		font-size: 11px;
	}
}

.hidden {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('content/images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(30%) brightness(0.5);
    z-index: -1;
}

header, main, .popup {
    position: relative;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 1);
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    z-index: 2;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.5rem;
}

header nav a:hover,
header nav a.active {
    color: #ff6347;
}

.slidingArea {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5/1;
    max-width: 80vw;
    margin: 1.5rem auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.out {
    transform: translateX(-100%);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .title {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    font-size: 1.5rem;
}

.layout-image {
    position: relative;
    width: 80vw;
    max-width: 100vh;
    height: auto;
    margin: 1.5rem auto;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10vh;
}

.layout-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#layoutPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.layoutPopup-content {
    display: flex;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.layoutPopup-image {
    flex: 1;
    height: 100%;
}

.layoutPopup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layoutPopup-text {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
}

.layoutPopup-text h2 {
    margin-top: 0;
}

.layoutPopup-text p {
    line-height: 1.5;
}

.layoutPopup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

.trainWall {
    position: relative;
    margin: 50px auto;
    max-width: 90vw;
    height: 40vh;
    overflow: hidden;
}

.trainWall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trainWall-title {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.allEngines {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    justify-content: center;
}

.engine-box {
    width: 11rem;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.engine-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.engine-title {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.enginePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.enginePopup-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    position: relative;
    display: flex;
    gap: 1.5rem;
}

.enginePopup-Image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 6px;
}

.enginePopup-Text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}

.enginePopup-Text p{
    color: black
}

.enginePopup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.logoSection {
    background-color: rgba(51, 51, 51, 0.9);
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
}

.logoSection-text {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.logo {
    width: 3rem;
    height: auto;
}

video {
    max-width: 100px;
}
